<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>EZChord V2</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body class="bc0">
  <nav class='bc3'>
  <div class="navlink"><a class="currentLink tc4" href="/ezchord">Home</a></div>
  <div class="navlink"><a class="tc4" href="/settings">Settings</a></div>
  <div class="navlink"><a class="tc4" href="/logout">Log out</a></div>
  </nav>
  <section id="leftSide">
    <section id="searchWrapper">
    </section>
	<section id="errorMessage" class="appError">
    </section>
    <section id="searchResponse">
    </section>
    <section id="scrapeResponse">
    </section>
  </section>
  <section id="rightSide">
    <section id="favoritesWrapper">
	  <span id="favoritesLabel" class="tc4 bc3">FAVORITES</span>
	    <section id="favoritesWindow" class="bc3">
		</section>
    </section>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>