.bc0{
  background-color: #FAFAFA;
  border-color: #FAFAFA;
}
.bc2{
  background-color: #6A647E;
  border-color: #6A647E;
}
.bc3{
  background-color: #CCCCFF;
  border-color: #CCCCFF;
}
.bc4{
  background-color: #6A647E;
  border-color: #6A647E;
}
.tc0{
  color: #FAFAFA;
}
.tc2{
  color: #6A647E;
}
.tc3{
  color: #CCCCFF;
}
.tc4{
  color: #6A647E;
}