html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	position: relative;
}

button{
  cursor: pointer;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    /*background-color: gray;*/
    margin-bottom:70px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    font-size: 1.3em;
    float: left;
}

.navlink a {
	/*transition: color 0.3s ease;*/
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
	opacity: 0.4;
	transition: opacity 0.3s ease;
	/*color: gray;*/
}

.navlink a:hover {
	opacity: 1.0;
	/*color: white;*/
}

.currentLink {
  /*color: white !important;*/
  opacity: 1.0 !important;
}

.mainForm {
    height: 200px;
    width: 350px;
    margin: auto;
    padding-top: 50px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    border-radius: 2px;
    padding: 3px 0px;
    text-decoration: none;
}

.settingSubmit {
    display: block;
    text-align: center;
    margin: 5px auto;
    font-size: 0.8em;
    width: 200px;
    height: 35px;
    line-height: 30px;
    font-size: 1.1em;
    border-radius: 2px;
    padding: 3px 0px;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #444;
}

.user, .pass, .pass2 {
    display: block;
    text-align: center;
    font-size: 1.1em;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;

}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #927AE3;
}

.chord{
    color: #07a8dd;
}
.chord:hover{
    text-decoration: underline;
    cursor: pointer;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 5600;
    letter-spacing: 2px;
}

form {
    /*text-align: center;*/
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

#status{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}



#closeChordInfo{
    float: right;
    display: inline;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
}




.favoriteTabSubmit{
  width: 150px;
  height: 35px;
}

#chordBrowser{
    width: 740px;
    height: 125px;
    background: #ddd;
    padding: 10px;
    margin: auto;
}

#chordBrowser img{
    height: 120px;
    width: auto;
}

#inst{
    display: inline-block;
    margin-left: 10px;
}



#submitButton{
    float: right;
    width: 80px;
    height: 25px;
    margin-top: 30px;
}

#reset{
    float:right;
    width:80px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}



header{
    padding-top: 5px;
    width: 540px;
    margin: auto;
    text-align: center;
    color: #1c1c1c;
}

.searchResponseTab{
    width: 600px;
    margin: auto;
    padding: 5px 40px 5px 40px;
    background-color: #DDD5FB;
    border: 1px solid #1c1c1c;
    position: relative;
    color: #1c1c1c;
	filter: brightness(75%);
	transition: filter 0.3s ease;
}

.searchResponseTab:hover{
	filter: brightness(100%);
}

.selectedResponse, .selectedResponse:hover {
  filter: brightness(100%) !important;
}

.searchResultURL{
    display:none;
}

.spanButton{
    position: absolute;    
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 10;
    cursor: pointer;
}

h1{
    margin-top: 0;
}

#leftSide {
    position: absolute;
	width: 90%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
    width: 90%;
	z-index: 0;
}

#scrapeResponse, #searchResponse { display: none; }



#errorMessage {
  display: none;
  z-index: 200;
  font-size: 1.2em;
  color: pink;
  width: 100%;
  height: 50px;
  margin: auto;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 50px;
}

#loginPageBody {
  width: 80%;
  margin: auto;
}

#signupBox {
  float: right;
  width: 45%;
  margin-left: 1%;
  margin-right: 2%;
  border: 2px solid;
  border-radius: 4px;
  border-style: border-box;
}

#loginBox {
  float: left;
  width: 45%;
  margin-left: 2%;
  margin-right: 1%;
  border: 2px solid;
  border-radius: 4px;
  border-style: border-box;
}

.loginBoxHeader {
  text-align: center;
  line-height: 50px;
  font-size: 1.75em;
  margin-bottom: 10px;
  margin-top: 40px;
}



.leftSide {
  float: left;
  width: 48%;
  border: 1px solid gray;
  margin-left: 10px;
  position: relative;
}

.rightSide {
  float: right;
  width: 48%;
  border: 1px solid gray;
  margin-right: 10px;
}

.appError {
  position: absolute;
  bottom: 0;
  z-index: 200;
}

#response {   
    border: 1px solid black;
    height: 300px;
    border-style: border-box;
    margin: auto;
    color: #fff;
}


/* SEARCH BOX */
#bName, #sName {
  width: 100%;
  margin: 5px auto;
  height: 50px;
  line-height: 70px;
  font-size: 1.5em;
  display: inline-block;
}

#searchBox p {
  margin: 20px auto;
  font-size: 2em;
  text-align: center;
}

#searchBox{
    border-radius: 3px;
    background: #927AE3;
    padding: 20px;
    width: 45%;
	height: 275px;
	margin: auto;
	border: 1px solid #555;
}

#searchSubmit{
  transition: background-color 0.5s ease;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 30px;
  font-size: 1.5em;
  margin: 5px auto;
  color: black;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}

#searchSubmit:hover{
  background-color: #555;
}

/* END SEARCH BOX */



/* FAVORITES BOX */
#favoritesWrapper{
  transition: width 0.4s ease;
  width: 26px;
  height: 260px;
  background: #333;
  display: inline;
  float: right;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid black;
  z-index: 100;
  position: absolute;
  right:0;
}

#favoritesWrapper:hover {
  width: 350px;
}

#favoritesLabel{
  font-size: 25px;
  width: 26px;
  height: 260px;
  overflow-wrap: break-word;
  float: left;
  text-align: center;
  padding-left:2px;
  z-index: 101;
}

.favoriteInfo:hover {
    cursor: pointer;
    text-decoration: underline;
	white-space: normal;
}

#favoritesWindow {
	display: inline;
	float: right;
	width: 320px;
	z-index: 200;
	min-height: 262px;
}

#favoritesWindow h1 {
    font-size: 150%;
    margin-top: 10px;
}

.deleteFavButton {
  z-index: 250;
  width: 10%;
  float: right;
  height: 25px;
  background: rgba(0,0,0,0);
  filter: brightness(50%);
  transition: filter 0.3s ease;
}

.deleteFavButton:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.favoriteTab {
  display: block;
  width: 100%;
  position: relative;
}

.favoriteInfo {
	padding-left: 10px;
	margin-top: 0;
	width: 85%;
	float: left;
	min-height: 25px;
}

/* END FAVORITES BOX */


/* SEARCH RESULTS BOX */
#searchHeader{
  padding: 10px 0;
}

#rWrapper{
    width:761px;
    height: 380px;
    background: #aaa;
    border: 1px solid black;
    border-radius: 3px;
    margin: auto;
}

#response{
    width: 760px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #aaa;
}

#submitScrape{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
	opacity: 1.0;
	transition: opacity 0.3s ease;
}

#submitScrape:disabled{
  opacity: 0.5;
  cursor: default;
}
/* END SEARCH RESULTS BOX */


/* TAB SCRAPE RESULTS */
#tabResults{
    width: 90%;
    height: 380px;
    background: #eee;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: wrap;
    margin: auto;
    font-family: 'Droid Sans Mono', monospace;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#favoriteForm{
  display: inline;
}

#favoriteButton:disabled {
  opacity: 0.5;
}

#favoriteButton, #startOver {
  display: inline-block;
  float: right;
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  line-height: 15px;
  text-align: center;
}

#favoriteButton{
  margin-right: 25px;
  opacity: 1.0;
  transition: opacity 0.5s ease;
}

#tabResultHeader{
  width: 92%;
  margin: auto;
  height: 50px;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
}

#songInfo{
	display: block;
	float: left;
	margin: 0;
	margin-top: 10px;
	margin-left: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
}
/* END TAB SCRAPE RESULTS */

/* BEGIN SETTINGS WINDOWS */
#currPass, #newPass, #newPass2, #colorSelect {
  width: 100%;
  margin: 5px auto;
  height: 40px;
  line-height: 70px;
  font-size: 1.5em;
  display: inline-block;
}

#cWrapper, #pWrapper {
  width: 40%;
  border: 1px solid black;
  padding: 0;
}

#changePassBox > h2, #colorConfig > h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
}

#cWrapper {
  float: right;
  margin-right: 3%;
}

#pWrapper {
  float: left;
  margin-left: 3%;
}

#changePassForm, #changeColorForm {
  margin-top: 0;
  padding-top: 0;
}